<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
  <form action="/add" method="POST">
    <input type="text" name="title">
    <input type="submit" value="ENTER">
  </form>
  <% @count.each do |count| %>
  <h1><%= count.number %></h1>
  <h1><%= count.title %></h1>
  <form action="/plus/<%= count.id %>" method="POST">
    <input type="submit" value="+">
  </form>
  <form action="/minus/<%= count.id %>" method="POST">
    <input type="submit" value="-">
  </form>
  <form action="/clear/<%= count.id %>" method="POST">
    <input type="submit" value="clear">
  </form>
    <form action="/delete/<%= count.id %>" method="POST">
    <input type="submit" value="delete">
  </form>
  <% end %>
</body>
</html>
